html,

:root {
  --primary: #F7941C;
  --second: #262626;
  --complement: #E7ECEF;
  --secondcomplement: #F9F9F9;
  --seccomplementdark: #a8a8a8;
  --golden: #ffd700;
  --silver: #C0C0C0;
  --bronze: #824A02;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}